body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.box {
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.box h1 {
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}

.box input[type = "text"], .box input[type = "password"] {
    background: none;
    display: block;
    border: 2px solid black;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    text-align: center;
    margin: 20px auto;
}

.box input[type = "text"]:focus, .box input[type = "password"]:focus {
    width: 280px;
    border-color:  white;
}

.box button {
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid  black;
    padding: 14px 40px;
    outline: none;
    width: 120px;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

.box button:hover {
    background:  #61c71f;
    width: 180px;
    border: 2px solid white;
}

.box span {
    color: red;
}